body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
}

  /* Estilo do título principal */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

  /* Lista de produtos */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h3 {
    margin: 0;
    font-size: 20px;
    color: #222;
}

li p {
    margin: 5px 0;
    color: #555;
}

  /* Estilo das imagens */
li img {
    display: inline-block;
    margin: 10px 5px 0 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    height: auto;
}

  /* Estilo dos controles de quantidade e botão */
div label {
    font-size: 14px;
    font-weight: bold;
}

div input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

div button {
    background-color: #9f904d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

div button:hover {
    background-color: #9f904d;
}

  /* Responsividade */
@media (max-width: 768px) {
    li {
    padding: 10px;
}

li img {
    width: 80px;
}

div button {
    padding: 6px 12px;
    font-size: 12px;
    }
}

.nav-bar {
    display: flex;
    justify-content: flex-end; /* Alinha os itens no lado direito */
    padding: 10px;
    background-color: #f8f9fa; /* Cor de fundo opcional para a barra */
    border-bottom: 1px solid #ddd; /* Linha opcional para separar */
}

.nav-link {
    margin-left: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #9f904d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #9f904d;
    text-decoration: underline;
}

.nav-link:active {
    background-color: #9f904d;
}
